body {
    font-family: 'Poppins', sans-serif;
}

.customHeight {
    height: 500px;
}

.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 50px;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
    font-size: 24px;
    display: inline-flex;
    align-self: center;
}

.site-header a:hover {
color: #1C9FFE;
text-decoration: none;
}

.site-footer {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/* images */
.product-device {
    position: absolute;
    right: 70%;
    bottom: -50%;
    width: 375px;
    height: 812px;
    background: url("../images/Splash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border-radius: 21px;
  }

  .product-device2 {
    width: 300px;
    height: 650px;
    background: url("../images/Splash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border-radius: 21px;
    margin: 0 auto;
  }