body {
    font-family: 'Poppins', sans-serif;
}

.customHeight {
    height: 500px;
}

/* icon */ 
.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 50px;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}

p {
    font-size: 20px;
    color: grey;
}

/* header */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
    font-size: 22px;
    display: inline-flex;
    align-self: center;
    text-decoration: none;
}

.site-header a:hover {
    color: #1C9FFE;
    text-decoration: none;
}

/* footer */ 
.site-footer {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


/* homepage images */
.customize-experience {
    width: 864px;
    height: 500px;
    background: url("../images/customize.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center;
}

.track-activity {
    width: 864px;
    height: 500px;
    background: url("../images/guy-running.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center;
}

.level-up {
    width: 864px;
    height: 500px;
    background: url("../images/friends.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: center;
}

/* device images */
.product-device {
    position: absolute;
    right: 70%;
    bottom: -50%;
    width: 375px;
    height: 812px;
    background: url("../images/Splash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border-radius: 21px;
  }

  /* feature page */
  .customize-device {
    width: 300px;
    height: 650px;
    background: url("../images/cusomize-example.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border-radius: 21px;
    margin: 0 auto;
  }

  .trackactivity-device {
    width: 300px;
    height: 650px;
    background: url("../images/track-activity-example.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border-radius: 21px;
    margin: 0 auto;
  }

  .levelup-device {
    width: 300px;
    height: 650px;
    background: url("../images/level-up-example.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border-radius: 21px;
    margin: 0 auto;
  }

/* user testimonials */
.testimonial1 {
    right: 50%;
    bottom: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url("../images/testimonial1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border:5px solid #21252A; 
}

.testimonial2 {
    right: 50%;
    bottom: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url("../images/testimonial2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border:5px solid #21252A; 
}

.testimonial3 {
    right: 50%;
    bottom: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url("../images/testimonial3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border:5px solid #21252A; 
}

.testimonial4 {
    right: 50%;
    bottom: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url("../images/testimonial4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border:8px solid #21252A; 
}

.testimonial5 {
    right: 50%;
    bottom: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url("../images/testimonial5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%; 
    border:5px solid #21252A; 
}